body {
  background-color: rgb(9, 6, 32);
  color: white;
  background-image: url(assets/background-stars.svg);
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation ul li {
  display: inline-block;
  font-size: 15px;

  word-spacing: 5px;
  list-style: none;
  text-decoration: none;
}
.navigation ul li a {
  text-decoration: none;
  color: gray;
}
.navigation {
  word-spacing: 10px;
}
.second-section {
  display: flex;
  justify-content: space-between;
}
.earth {
  width: 30%;
  padding-right: 3%;
  padding-top: 13%;
}
.para-one {
  padding-right: 20px;
  font-size: 18px;
  line-height: 25px;
  color: gray;
}
.earth-image img {
  padding-top: 40%;
  padding-left: 40%;
}
.one {
  line-height: 10px;
  font-size: 15px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgb(32, 31, 31);
  letter-spacing: 4px;
}
.one:hover {
  background-color: blueviolet;
  cursor: pointer;
}
.one p {
  padding-left: 20px;
  margin: 0;
}
.rotation {
  display: flex;
}
span {
  font-size: 13px;
  color: gray;
  padding-bottom: 10px;
}
.rotation {
  padding-top: 30px;
  padding-left: 30%;
}
.rotation-one {
  padding: 15px;
  border: 1px solid rgb(32, 31, 31);
}
.rotation-two {
  border: 1px solid rgb(32, 31, 31);
  padding: 15px;
  margin-left: 25px;
}
.rotation-three {
  border: 1px solid rgb(32, 31, 31);
  padding: 15px;
  margin-left: 25px;
}
.rotation-four {
  border: 1px solid rgb(32, 31, 31);
  padding: 15px;
  margin-left: 25px;
}
